
@media (max-width: 1200px) {
  #colorbar .header-container {
    max-width: 100%;
  }
}

@media (max-width: 1250px)  {

    .page {
      padding: 2rem;
    }
  
    #colorbar {
      width: 100%;
      margin-bottom: 80px;
    }
  
    #colorbar h1 {
      margin-left: 40px;
      font-size: 3.4em;
    }
    
    #colorbar ul.navi {
      margin-right: 30px;
      font-size: 1.3em;
    }
  
    #colorbar ul.navi li {
      padding-right: 50px;
    }
  }

  @media (max-width: 1080px)  {
    #colorbar ul.navi {
      font-size: 1.2em;
    }

    #colorbar ul.navi li {
      padding-right: 30px;
    }

  }

  @media (max-width: 920px)  {

    #colorbar .header-container {
      margin: 0 auto;
      display: block;
      place-items: center;
    }
  
    #colorbar {
      height: 320px;
      margin-bottom: 50px;
    }
  
    #colorbar h1 {
      margin: 0 auto;
      padding-top: 33px;
      font-size: 3em;
    }
    
    #colorbar ul.navi {
      margin: 0 auto;
      display: block;
      font-size: 1.1em;
    }
  
    #colorbar ul.navi li {
      align-items: center;
    }
  
    .page {
      padding: 1rem;
    }
    
  }
  
  @media (max-width: 320px)  {

    #screen-error {
      display: block;
    }

    .body {
      background-color: #ffffff;
    }
  
    #container, .page, #footer {
      display: none;
    }
  
    h1 {
      font-family: "Grandstander", cursive;
      font-weight: 400;
      font-size: 3.2em;
      color: #123d80;
    }

    h2, h3 {
      color: #000000;
    }

  }