:root {
  margin: 0;
  padding: 0rem;
  text-align: center;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 1.2em;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  overflow-y: scroll;
}

.body {
  margin: 0;
  min-height: 100vh;
  color: var(--text-color);
  background-color: var(--background-color);
}

.light {
  --background-color: #f5f5f5;
  --text-color: #000000;
  --github-image: url('../images/github-mark.png');
  --button-bg: #282e37;
  --button-text: #ffffff;
  --create-bg: #b1b1b1;
  --h2: #000000;
  --left-border: 9px solid #05648d;
  --a-link: #25272d;
  --a-link-hover: #26aef3;
  --footer-hover: #075e00;
}

.dark {
  --background-color: #25272d;
  --text-color: #ffffff;
  --github-image: url('../images/github-mark-white.png');
  --button-bg: #1a1a1a;
  --button-text: #ffffff;
  --create-bg: #373737;
  --h2: #ffffff;
  --left-border: 9px solid #258fc6;
  --a-link: #ffffff;
  --a-link-hover: #73cffd;
  --footer-hover: #84fc7a;
}


#screen-error {
  display: none;
}

#container {
  margin: 0;
}

#header {
  width: 100vw;
}

#colorbar {
  height: 100px;
  width: 100%;
  border-bottom: 1px solid #000000;
  background: linear-gradient(67deg, #010d25, #091f49, #091f49, #091f49, #091f49, #010d25);
  margin-bottom: 120px;
}

#colorbar .header-container {
  margin: 0 auto;
  display: flex;
  max-width: 1300px;
  place-items: center;
}

#colorbar h1 {
  margin: 0 auto;
  margin-top: 7px;
  font-family: "Grandstander", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 3.8em;
  color: #c5fffb;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  animation: headerWave 5s infinite linear;
}

#colorbar ul.navi {
  list-style-type: none;
  display: flex;
  font-family: "Archivo Narrow", sans-serif;
  font-size: 1.5em;
  color: #ffffff;
  animation: headerWave 5s infinite linear;
}

#colorbar ul.navi li {
  padding-right: 70px;
}

#colorbar ul a {
  text-decoration: none;
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#colorbar ul a:hover {
  text-decoration: none;
  color: #84fc7a;
}

.page {
  margin: 0 auto;
  max-width: 1200px;
  text-align: left;
}

#footer {
  justify-content: center;
  width: 100%;
  padding-top: 60px;
  padding-bottom: 3px;
  align-items: center;
  font-size: 1.1em;

}

#footer a {
  text-decoration: none;
  color: #9a9a9a;
  font-size: 1.1em;
}

#footer a:hover {
  color: var(--footer-hover);
}

#container #content {
  margin-top: 180px;}

.field  {
  padding: 1em;
  margin-right: 1em;
  margin-left: 1em;
}

.box {
  height: 130px;
  width: 240px;
  padding: 1em;
  margin-right: 1em;
}

.info {
  margin-left: 1em;
  padding: 0.5em;
  border-left: var(--left-border);
  font-weight: 400;
  font-style: italic;
}

.inner-1em {
  margin-left: 1em;
}

.inner-2em {
  margin-left: 2em;
}

.card {
  padding: 2em;
}

.gh-mark {
  width: 30px;
  height: 30px; 
  display: inline-block;
  padding-right: 10px;
  background-image: var(--github-image);
  background-size: contain;
  background-repeat: no-repeat;
}

.green {
  background-color: #126025;
  color: #ffffff;
}

.red {
  background-color: #8d1209;
  color: #ffffff;
}

.movieBg {
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 550px;
}

#login-form {
  display: flex;
  justify-content: center;
}

.leftdiv {
  padding: 1em;
}

#createReview, #createGroup {
  padding: 1em;
  background-color: var(--create-bg);
}

a {
  font-weight: 500;
  color: var(--a-link);
  text-decoration: inherit;
}

a:hover {
  color: var(--a-link-hover);
}

h2 {
  color: var(--h2);
}

label {
  padding: 0.2em 1em;
}

.shortInput {
  margin: 0 auto;
  width: 80px;
}

.longInput {
  margin: 0 auto;
  margin-left: 0;
  width: 180px;
}

select {
  padding: 1em 1em;
}

button {
  margin-top: 20px;
  margin-right: 8px;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--button-bg);
  color: var(--button-text);
  cursor: pointer;
  transition: border-color 0.25s;
}

#area, #date {
  padding: 0.5em 0.6em;
  margin-right: 0.7em;
  font-size: 0.9em;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.movie-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

.movie-item {
  width: 300px; 
  margin-top: 10px;
  margin-right: 20px; 
  margin-bottom: 20px;
}

.movie-item img {
  width: 100%; 
}

.movie-details {
  padding: 1em;
}